<div id="<%= dom_id cargo %>">
  <div>
    <strong>Titulo:</strong>
    <%= cargo.titulo %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= cargo.descricao %>
  </div>

  <div>
    <strong>Salario base:</strong>
    <%= cargo.salario_base %>
  </div>

</div>
