<% content_for :title, "Editing dados empresa" %>

<h1>Editing dados empresa</h1>

<%= render "form", dados_empresa: @dados_empresa %>

<br>

<div>
  <%= link_to "Show this dados empresa", @dados_empresa %> |
  <%= link_to "Back to dados empresas", dados_empresas_path %>
</div>
