<% content_for :title, "New dados empresa" %>

<h1>New dados empresa</h1>

<%= render "form", dados_empresa: @dados_empresa %>

<br>

<div>
  <%= link_to "Back to dados empresas", dados_empresas_path %>
</div>
