<% content_for :title, "Editing fabricante" %>

<h1>Editing fabricante</h1>

<%= render "form", fabricante: @fabricante %>

<br>

<div>
  <%= link_to "Show this fabricante", @fabricante %> |
  <%= link_to "Back to fabricantes", fabricantes_path %>
</div>
