<div class="dashboard-container">
  <div class="page-header">
    <h1 class="page-title"><%= action_name == 'new' ? 'Novo Funcionário' : 'Editar Funcionário' %></h1>
  </div>

  <div class="card">
    <%= render "form", funcionario: @funcionario %>
  </div>
</div>